<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="IdentityDBConnection" connectionString="Data Source=localhost;Initial Catalog=DatabaseName;Integrated Security=True;" providerName="System.Data.SqlClient"></add>-->
  </connectionStrings>
  <appSettings>
    <add key="SMTP" value="smtp provider : need to update"/>
    <add key="SMTPPort" value="wmtp port : need to update"/>
    <add key="SMTPSender" value="email to sender : need to update"/>
    <add key="SMTPSenderPassword" value="email password: need to update"/>
    <add key="SenderDisplayName" value="The name you want to show in email sender."/>
    <add key="EnableSSL" value="false"/>
    <add key="IsEmailBodyHtml" value="false"/>

    <!-- App name and app secret : Should be different for each application,if used with different applicatoin on the same server-->
    <add key="AppName" value="YourAppName"/>
    <add key="AppSecret" value="Any Random String"/>
    <!--Expiration time for any custom token, other than access token-->
    <add key="TokenLifeTimeInHr" value="24"/>
    <add key="OAuthTokenLifeTimeInHr" value="24"/>

    <!--Cookies Authentication Options Reset-->
    <add key="AuthCookieLifeInHr" value="12"/>
    <add key="AuthCookieSlidingExpiration" value="false"/>

    <!--Password Reset-->
    <add key="ResetPasswordTemplatePath" value="Templates/Email/ResetPassword.txt"/>
    <add key="ResetPasswordCallBackLink" value="http://abc.com/Account/ResetPassword?code={0}&amp;token={1}"/>
    <add key="ResetPasswordMailSubject" value="Reset Password"/>

    <!--Account Activation-->
    <add key="AccountActivationTemplatePath" value="Templates/Email/AccountActivation.txt"/>
    <add key="AccountActivationCallBackLink" value="http://abc.com/Account/Activaition?code={0}&amp;token={1}"/>
    <add key="AccountActivationMailSubject" value="Account Activation"/>

    <!--Email Confirmation-->
    <add key="EmailConfirmationTemplatePath" value="Templates/Email/EmailActivation.txt"/>
    <add key="EmailConfirmationCallBackLink" value="http://abc.com/Account/EmailActivaition?code={0}&amp;token={1}"/>
    <add key="EmailConfirmationMailSubject" value="Email Activation"/>

    <!--Account lock out options-->
    <add key="ShouldLockOutAccount" value="true"/>
    <add key="MaxFailedAccessAttemptsBeforeLockout" value="5"/>
    <add key="DefaultAccountLockoutTimeSpanInMins" value="5"/>

    <!--User validator to add new user-->
    <add key="AllowOnlyAlphanumericUserNames" value="false"/>
    <add key="RequireUniqueEmail" value="true"/>

    <add key="EnableTwoFactorVerification" value="true"/>
    <add key="TwoFactorHeaderName" value="X-OTP"/>

    <!-- END :  USER MANAGEMENT CONFIGURATION -->

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
